<% content_for :where do %>
	<%= "blog" %>
<% end %>
<% content_for :title do %>
	<%= "| Blog" %>
<% end %>
<div class="top-margin">
	<div class="container-fluid">
		<div class="row-fluid">

			<!--left container-->
			<div class="span10">
				<!--show posts-->
				<%= render :partial => "show_posts", :locals => {:posts => @posts} %>
				<!-- pager -->
				<div class="apple_pagination">
				    <%= will_paginate @posts, :container => false %>
				</div>
			</div>

			<!--right container-->
			<div class="span2">

				<!--right accordion sider-->
				<div class="accordion side" id="right_accordion">
					<!--about me-->
					<div class="accordion-group">
						<div class="accordion-heading post-sider">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#right_accordion" href="#collapseOne">
								<i class="icon-user icon-white"></i><span>About Me</span>
							</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								<% if @intro %>
								<p><%= @intro.content %></p>
								<% else %>
								<p>Welcome to my blog!</p>
								<% end %>
							</div>
						</div>
					</div>
					<!--tags-->
					<div class="accordion-group">
						<div class="accordion-heading post-sider">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#right_accordion" href="#collapseTwo">
								<i class="icon-tags icon-white"></i><span>Tags</span>
							</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner" id="tagscloud">
								<% tags=Tag.all.each do |tag| %>
									<a class="label" href=<%= showByTag_post_path tag %>><%= "#{tag.name} (#{tag.posts.size})" %></a>
								<% end %>
							</div>
						</div>
					</div>
					<!--archive:date-->
					<div class="accordion-group">
						<div class="accordion-heading post-sider">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#right_accordion" href="#collapseThree">
								<i class="icon-th-list icon-white"></i><span>Archive</span>
							</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">
								<div class="accordion" id="date_inner_accordion">
								<% @posts_years.each do |year, posts|%>
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#date_inner_accordion" href="#collapse"+<%= year.strftime("%Y")%>>
												<%= year.strftime("%Y")%>
											</a>
										</div>
										<div id="collapse"+<%= year.strftime("%Y")%> class="accordion-body collapse in">
											<div class="accordion-inner">
												<ul class="nav nav-list">
													<% posts.group_by { |post| post.created_at.beginning_of_month}.each do |month, post_s| %>
														<li><a href=<%= "#{showByMonth_posts_path}?month=#{month}"%>><%= month.strftime("%B")+"  " %><span class="badge"><%= post_s.size %></span></a></li>
													<% end %>
												</ul>
											</div>
										</div>
									</div>
								<% end %>
								</div>
							</div>
						</div>
					</div>
					<!--links-->
					<div class="accordion-group">
						<div class="accordion-heading post-sider">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#right_accordion" href="#collapseFour">
								<i class="icon-star icon-white"></i><span>Links</span>
							</a>
						</div>
						<div id="collapseFour" class="accordion-body collapse">
							<div class="accordion-inner">
								<% @links.each do |l| %>
								<%= link_to l.name, l.url, :target => "view_window" %><br>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>