</head>
<div class="top-margin">
	<!--display the post-->
	<div id="post" class="post_feed">
		<h2>Edit my resume</h2>
		<%= form_for @resume do |f| %>
			<%= f.label :name, "Name:"%>
			<%= f.text_field :name, :class=>"width-textfield" %>

			<%= f.label :content, "Content:" %>

			<%= f.cktext_area :content, :class=>"width-textfield", :id=>"new_content" %><br>

			<%= f.label :show, "Show:" %>
			<%= f.check_box :show, {:checked => @resume.show} %><br>
			<br>
			<br>
			<br>
			<%= f.submit "Update", :confirm =>"Update?", :class => "btn btn-large btn-primary" %>
			<%= link_to "Cancel", resumes_path, :confirm =>"Give up this resume?",:class=> "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
