<% content_for :where do %>
	<%= "resume" %>
<% end %>
<% content_for :title do %>
	<%= "| Resume" %>
<% end %>
<div class="top-margin">
	<div class="post_feed">
		<legend>Xiaotong Chen's RESUME</legend>
		<% if @resume %>
		<p><%= raw @resume.content %></p>
		<div>
			<% if signed_in? %>
				<hr>
				<a class="muted" href=<%= edit_resume_path @resume %>><i class="icon-text-height"></i> Edit</a>
				<i class="icon-trash"></i><%= link_to " Delete", @resume, :confirm => "Delete this resume?", :method => :delete, :class => "muted" %>
			<% end %>
		</div>
		<% else %>
		<p>No resume found!</p>
		<% end %>
	</div>
</div>