<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="0SZ5Rj7-NRm2tqjP_PAmKojZUff0Xqv_75H_OXDL8y0" />
  <title>Xiaotong Chen <%= yield :title %></title>
  <% record_ip(yield :where) %>
  <script type="text/javascript">var CKEDITOR_BASEPATH = '/assets/ckeditor/';</script>
  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
	<div class="bg">
		<!--navigate bar-->
		<%= render :partial => "layouts/navbar" %>
		<!--main container-->
		<div id="main_container" class="container">
			<% flash.each do |key, value| %>
        		<div class="alert alert-<%= key %> top-margin"><%= value %></div>
      		<% end %>
      		<!--go top-->
			<div id="go-top" class="go-top">
				<div id="go-top-img" class="go-top-img">
					
				</div>
			</div>
			<!--main display area-->
			<%= yield %>
		</div>
		<!--footer-->
		<div id="footer" class="footer">
			<p class="muted" align="center">Xiaotong Chen ©2013</p>
		</div>
	</div>
</body>
</html>
